

body{
    padding: 3%;
    background-color: #70d6ff;
}


h1{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    display: inline-block;
    color: #ff70a6;
    font-size: 70px;
     
}

#list{
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
}

button{
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
}

#searchterm{
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
}

#status{
    font-family: 'Fredoka One', cursive;
    padding-bottom: 0.3em;
    font-size: 2em;
}

::placeholder{
    color: #ff9770;
}

form{
    padding-bottom: 2em;
}

.search_container{
    /* display: flex;
    flex: 1 1 0; */
    text-align: center;
}



#content{
    background-color: #ffd670;
    padding: 1.5em;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    border-radius: 1em;
    border-style: solid;
    border-color: #e9ff70;
    border-width: 5px;
    display:flex;
    flex-wrap: wrap;
}

.copyURLButton,.favButton{
    font-family: 'Fredoka One', cursive;
    border-color: #e9ff70;
    border-radius: 1.5em;
    background-color: #ff70a6 ;
    font-size: 20px;
    padding: 0em;
    cursor: pointer;
    width: 9em;
}

.copyURLButton:hover{
    background-color: #ff97bf;
}
.result{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 3 3 0;
    align-items: center;
}
img{
    padding: 2em;
}
#showFavButton{
    height: 3.0em;
    width: 9.0em;
    font-size: 14pt;
    background-color: white;
}